header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  transition: 0.5s;
  z-index: 10000;
  background-color: black;
}

.logo {
  font-family: "Racing Sans One", cursive;
  font-size: 35px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

.nav li {
  margin-right: 20px;
  text-transform: uppercase;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.nav:hover {
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.nav li:hover {
  transform: scale(1.1); /* Scale up the list item on hover */
  color: #dd0e0e;
}

.nav a.active {
  color: #dd0e0e;
}

.nav a.active:hover {
  color: #dd0e0e;
}

a {
  text-decoration: none;
}
