.movie-card{
    border: none;
    position: relative;
    border-radius: 0;
    background: black !important;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}
.movie-card::before {
    position:absolute;
    content: '';
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: hidden;
    transform: scale(0);
}

.movie-card p{
    color: #dddd;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

}

.movie-card h3{
    color: #dddd;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
padding: 10px 0;

}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}