section .trend-card{
    border: none;
    position: relative;
    border-radius: 0;
    background: #000000 !important;
     box-shadow: 0 0 16px rgba(255, 255, 255, 0.5); 
}

section .trend-card::before {
    position:absolute;
    content: '';
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: scale(0);
} 

section .trend-card p{
    color: #dddddd;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;

} 

  .trend-card h3{
    color: #dddd;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
padding: 10px 0; 

} 
 section .trend-card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: scale(0);
}

section .trend-card .content h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section .trend-card .content h4::before{
position: absolute;
content: '';
left: 0;
bottom: -10px;
height: 5px;
width: 80%;
background: linear-gradient(
    var(--primary),
    var (--primary),
    transparent
    
);
z-index: 1000;
}

section .trend-card .content ion-icon{
    font-size: 2.5rem;
    transition: 0.3s;
    cursor: pointer;
}

section .trend-card .content ion-icon:hover {
color: var(--primary);
}

section .trend-card:hover .content,
section .trend-card:hover::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

 .popmovies{
  
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px;
}  



/* .trend-card {
    position: relative;
}

.trend-card a{
    position: relative;
    text-decoration: none;
    background: var(--primary);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s;
}

.trend-card a:hover {
    background: black;

    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.trend-card:hover 
 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
} */

}



