.footer {
    background-color: black;
    padding: 20px 0;
    border-top: 1px solid #fff;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    color: #fff;
  }
  
  .footer-section h3 {
    margin-top: 10px;
  }
  
  .footer-section p {
    margin-top: 5px;
  }
  
  .social-media {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    width: auto;
    height: auto;
  }
  
  .social-media a {
    color: #fff;
    font-size: 24px;
    margin: 0 5px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    color: #fff;
  }

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  }

  